/*****************************
***** VARIABLES GLOBALES *****
*****************************/
$colorLink: #5396e7;
$colorLinkHover: #8491c7;
$colorText: #d4dcff;
$backgroundColor-light:#161e3b;
$backgroundColor-dark: #171933;
