.alignStyle
{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loader
{
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
/**********************
***********************
*****MEDIA QUERIES*****
***********************
**********************/



@media (max-width: 1189px){
  .alignStyle{
    width: auto;
  }
}

