.alignStyle
{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

/**********************
***********************
*****MEDIA QUERIES*****
***********************
**********************/

@media (max-width: 1670px){
  .alignStyle{
    width: 800px;
  }
}

@media (max-width: 1189px){
  .alignStyle{
    width: auto;
  }
}

