@import '/src/app/styles/variables';

.container
{
  position: relative;
  padding:0;
  margin-top: 15px;
  height: 98vh;
}

#nameTitle
{
  font-size: 41px;
  font-weight: bolder;
  color: $colorLink;
  padding: 0;
}

/* ANIMATED TITLE */
.wobble-hor-bottom:hover {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}



#profilPicture{
  margin-top: 15px;
  border-radius: 50%;
}

/* ANIMATED PROFIL PICTURE */

.rotate-scale-up:hover {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}


#network
{
  align-content: center;
  font-size: 50px;
}

/* ICONS COLORS */
#instagramIcon
{
  padding: 0;
  color: $colorLink;
  transition-property: color;
  transition-duration: 0.5s;
}
#instagramIcon:hover
{
  color: #833ab4;
}

#githubIcon
{
  color: $colorLink;
  transition-property: color;
  transition-duration: 0.5s;
}
#githubIcon:hover
{
  color: black;
}

#linkedinIcon
{
  color: $colorLink;
  transition-property: color;
  transition-duration: 0.5s;
}
#linkedinIcon:hover
{
  color: #0e76a8;
}

#twitterIcon{
  color: $colorLink;
  transition-property: color;
  transition-duration: 0.5s;
}

#twitterIcon:hover{
  color:#00ACEE;
}

#presentation a
{
  color: $colorLink;
  text-decoration: none;
}

#presentation a:hover
{
  color: $colorLinkHover;
}

.copyrights{
  position: absolute;
  bottom: 0;
}


@media (max-width: 1189px){
  #profilPicture{
    display: none;
  }

  .container{
    height: auto;
  }

  .copyrights{
    display: none;
  }

  #presentation{
    display: none;
  }
}
