<div class="container fixed-bottom">
  <div class="row text-center">
    <h2 id="nameTitle" class="wobble-hor-bottom">Maxime Paletou</h2>
    <img src="../../../assets/images/MaximePALETOU.jpg" class="img-fluid rotate-scale-up" alt="profilPicture" id="profilPicture" />
    <div class="col text-center" id="network">
      <a class="me-3" id="twitterIcon" href="https://twitter.com/MaximePaletou" rel="noreferrer"><fa-icon [icon]="TwitterIcon"></fa-icon></a>
      <a class="me-3" id="instagramIcon" href="https://www.instagram.com/maximepaletou/" rel="noreferrer"><fa-icon [icon]="InstagramIcon"></fa-icon></a>
      <a class="me-3" id="githubIcon" href="https://github.com/MaxPalDEV" rel="noreferrer"><fa-icon [icon]="GitHubIcon"></fa-icon></a>
      <a href="https://www.linkedin.com/in/maximepaletou/" id="linkedinIcon" rel="noreferrer"><fa-icon [icon]="LinkedInIcon"></fa-icon></a>

    </div>

  <p id="presentation" class="text-justify" style="margin-top: 15px;">Développeur informatique vivant dans le Sud-Ouest, proche de <a href="https://goo.gl/maps/jMM2cuk4SuzkW7pPA">Pau (64)</a>, je suis passionné par les jeux vidéos, le skate ainsi que les voyages. <br> <br> Récemment diplômé, je suis actuellement développeur au sein de l'entreprise <a href="https://bs.digital/" class="link-company">BS Digital</a></p>
  <div class="copyrights">
    <app-copyrights></app-copyrights>
  </div>
</div>

</div>


