.marginCenter
{
  margin-left: auto;
  margin-right: auto;
}

#ConsoleProfil
{
  border-radius: 10px;
  background: black;
  color: #227726;
}

.logoStyle
{
  width: 30px;
  margin: 5px;
}

.columnLang
{
  position: relative;

}

.bottomHR
{
  position: absolute;
  bottom: 0;
  width: 88%;
}
