<div class="row">
  <h1># PROFIL</h1>
  <hr>
  <div class="col-9 marginCenter" id="ConsoleProfil">

    <p style="margin-top: 10px;">
      C:\Users> Identification : <br>
      C:\Users> cd Maxime_Paletou <br>
      C:\Users\Maxime_Paletou> Âge : <br>
      C:\Users\Maxime_Paletou> 27 ans <br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> Localisation :<br>
      C:\Users\Maxime_Paletou> Pau (64)<br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> Profession :<br>
      C:\Users\Maxime_Paletou> Développeur informatique<br>
      C:\Users\Maxime_Paletou> <br>
      C:\Users\Maxime_Paletou> Hobbies :<br>
      C:\Users\Maxime_Paletou> Skate, Voyages, Randonnées, Jeux-Vidéos<br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> En recherche d’emploi ?<br>
      C:\Users\Maxime_Paletou> Oui<br>
    </p>

  </div>
  <h1 style="margin-top: 30px;">
    # COMPÉTENCES INFORMATIQUE
  </h1>
  <hr>
  <div class="col-9 marginCenter text-center">
    <h2>Développement Web & Mobile</h2>
    <hr>
    <div class="row">
      <div class="row">
      <div class="col">

          <h4>Front-End</h4>
          <hr>
          <p>
            <img src="../../../assets/images/logos/html-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="htmlLogo"  />
            <img src="../../../assets/images/logos/css-3.svg" class="img-fluid rotate-scale-up logoStyle" alt="cssLogo" />
            <img src="../../../assets/images/logos/javascript-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="jsLogo"/>
            <img src="../../../assets/images/logos/sass-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="scssLogo"/>
            <img src="../../../assets/images/logos/less-63.svg" class="img-fluid rotate-scale-up logoStyle" alt="lessLogo"/>
            <img src="../../../assets/images/logos/typescript.svg" class="img-fluid rotate-scale-up logoStyle" alt="typeScriptLogo"/>
          </p>
          <p>FrameWorks :</p>
          <p>
            <img src="../../../assets/images/logos/bootstrap-5-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="bootstrapLogo" />
            <img src="../../../assets/images/logos/fontawesome-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="fontAweLogo" />
            <img src="../../../assets/images/logos/jquery-1.svg" class="img-fluid rotate-scale-up" alt="jqueryLogo" style="width: 80px; margin: 5px;" />

            <img src="../../../assets/images/logos/angular-icon.svg" class="img-fluid rotate-scale-up logoStyle" alt="angularLogo" />
          </p>
          <hr>
        </div>
        <div class="col">
          <h4>Back-End</h4>
          <hr>
          <p>
            <img src="../../../assets/images/logos/php-1.svg" class="img-fluid rotate-scale-up" alt="phpLogo" style="width: 80px; margin: 5px;" />
            <img src="../../../assets/images/logos/nodejs.svg" class="img-fluid rotate-scale-up" alt="nodejsLogo" style="width: 80px; margin: 5px;"/>
          </p>
          <p>FrameWorks :</p>
          <p>
            <img src="../../../assets/images/logos/symfony.svg" class="img-fluid rotate-scale-up logoStyle" alt="symfonyLogo" />
            <img src="../../../assets/images/logos/express-109.svg" class="img-fluid rotate-scale-up" alt="expressjsLogo" style="width: 80px; margin: 5px;"/>
          </p>
          <hr>
        </div>
        <div class="col">
          <h4>CRM</h4>
          <hr>
          <p>
            <img src="../../../assets/images/logos/wordpress-icon.svg" class="img-fluid rotate-scale-up logoStyle" alt="wpLogo" />
            <img src="../../../assets/images/logos/joomla.svg" class="img-fluid rotate-scale-up logoStyle" alt="wpLogo" />
          </p>
          <hr>
        </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Mobile</h4>
            <hr>
            <p>
              <img src="../../../assets/images/logos/kotlin-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="kotlinlLogo" />
            </p>
            <hr>
          </div>
          <div class="col">
            <h4>Serveur</h4>
            <hr>
            <p>
              <img src="../../../assets/images/logos/mysql-6.svg" class="img-fluid rotate-scale-up logoStyle" alt="mysqlLogo" />
              <img src="../../../assets/images/logos/mongodb-icon-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="mongodbLogo" />
            </p>
            <hr>
          </div>
          <div class="col">
            <h4>IDE</h4>
            <hr>
            <p>
              <img src="../../../assets/images/logos/visual-studio-code-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="vscodeLogo" />
              <img src="../../../assets/images/logos/Android_Studio_Icon_(2014-2019).svg" class="img-fluid rotate-scale-up logoStyle" alt="vscodeLogo" />
            </p>
            <hr>
          </div>
        </div>



  </div>

</div>
