@import '/src/app/styles/variables';

.iconeStyle{
  color: $colorLink;
}

.devStyle{
  color: #ff3333;
}

.marginCenter
{
  margin-left: auto;
  margin-right: auto;
}

.contentSeparator
{
  color: $colorLinkHover;
  height: 3px;
}

#ConsoleProfil
{
  border-radius: 10px;
  background: black;
  color: #227726;
}

.logoStyle
{
  width: 35px;
  color: $colorLink;
}

.columnLang
{
  position: relative;

}

.bottomHR
{
  position: absolute;
  bottom: 0;
  width: 88%;
}

.noListStyle
{
  list-style: none;
}

a
{
  color: #203E49;
  text-decoration: none;
}

a:hover
{
  color: #2B5361;
}

.iconStyle
{
  color: #2B5361;
}

.profilCardBack{
  padding: 10px;
 background-color: #0F1022;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.profilCard{
  padding: 16px;
 background-color: #0F1022;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/*.profilCardBack:hover{
  animation: shake 1s infinite;
  animation-direction:alternate-reverse;
}
@keyframes shake {
  0% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(2deg);
  }
}*/

.titleProfil{
 color: $colorLinkHover;
}
