
  <div class="col text-center">
      <h2><fa-icon [icon]="pointTitleIcon" class="iconeStyle"></fa-icon> &nbsp; <span style="font-weight: bold;" class="">Maxime Paletou</span>  - <span class="devStyle"><</span> Développeur passionné <span class="devStyle">/></span></h2>
    <hr>
    <div class="row justify-content-center">
      <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
        <h4 style="margin-bottom: 0;">Ouvert aux propositions d'emploi :</h4>
      </div>
      <div class="col-2">
        <div style="height: 35px; width: 35px; background-color: green; border-radius: 50%; box-shadow: 0 0 1em green;"></div>

      </div>
    </div>

    <hr>
  </div>
<div class="row text-center justify-content-center">
  <div class="col-8 profilCardBack">
    <div class="col profilCard">
      <h2>À Propos de moi</h2>
      <hr class="contentSeparator">
      <div class="row">
        <div class="col">
          <h5 class="titleProfil">Vivant depuis</h5>
          <h6>27 ans</h6>
        </div>
        <div class="col">
          <h5 class="titleProfil">Localisation</h5>
          <h6>Pau (64)</h6>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col">
          <h5 class="titleProfil">IDE</h5>
          <h6>Visual Studio Code</h6>
        </div>
        <div class="col">
          <h5 class="titleProfil">Langage préféré</h5>
          <h6>Javascript</h6>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col">
          <h5 class="titleProfil">Adore</h5>
          <h6>Les vidéos d'animaux</h6>
        </div>
        <div class="col">
          <h5 class="titleProfil">Adore moins</h5>
          <h6>Le Football</h6>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col">
          <h5 class="titleProfil">Série du moment</h5>
          <h6>Final Space</h6>
        </div>
        <div class="col">
          <h5 class="titleProfil">Boisson préférée</h5>
          <h6>Ice Tea</h6>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col">
          <h5 class="titleProfil">Hobbies</h5>
          <h2><fa-icon [icon]="devHobbie" class="iconeStyle" placement="top" ngbTooltip="Programmation"></fa-icon> &nbsp; <fa-icon [icon]="randoHobbie" class="iconeStyle" placement="top" ngbTooltip="Randonnées"></fa-icon> &nbsp;  <img src="../../../assets/images/logos/skateboard.svg" class="img-fluid rotate-scale-up logoStyle" alt="skate" placement="top" ngbTooltip="Skateboard" /> &nbsp; <fa-icon [icon]="travelHobbie" class="iconeStyle" placement="top" ngbTooltip="Voyages"></fa-icon> &nbsp; <fa-icon [icon]="gameHobbie" class="iconeStyle" placement="top" ngbTooltip="Jeux-Vidéos"></fa-icon> &nbsp; <fa-icon [icon]="movieHobbie" class="iconeStyle" placement="top" ngbTooltip="Films/Séries"></fa-icon> &nbsp; <fa-icon [icon]="bookHobbie" class="iconeStyle" placement="top" ngbTooltip="Lecture"></fa-icon></h2>
        </div>
      </div>

    </div>
    </div>
  </div>






  <!--<div class="col-10 marginCenter" id="ConsoleProfil">

    <p style="margin-top: 10px;">
      C:\Users> Identification : <br>
      C:\Users> cd Maxime_Paletou <br>
      C:\Users\Maxime_Paletou> Âge : <br>
      C:\Users\Maxime_Paletou> 27 ans <br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> Localisation :<br>
      C:\Users\Maxime_Paletou> Pau (64)<br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> Profession :<br>
      C:\Users\Maxime_Paletou> Développeur informatique<br>
      C:\Users\Maxime_Paletou> <br>
      C:\Users\Maxime_Paletou> Hobbies :<br>
      C:\Users\Maxime_Paletou> Skate, Voyages, Randonnées, Jeux-Vidéos<br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> En recherche d’emploi ?<br>
      C:\Users\Maxime_Paletou> Oui<br>
    </p>
  </div>-->

