<div class="row">
  <h3><fa-icon [icon]="pointTitleIcon"></fa-icon> &nbsp; INFORMATIONS GÉNÉRALES</h3>
  <hr class="contentSeparator">
  <div class="col-10 marginCenter" id="ConsoleProfil">

    <p style="margin-top: 10px;">
      C:\Users> Identification : <br>
      C:\Users> cd Maxime_Paletou <br>
      C:\Users\Maxime_Paletou> Âge : <br>
      C:\Users\Maxime_Paletou> 27 ans <br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> Localisation :<br>
      C:\Users\Maxime_Paletou> Pau (64)<br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> Profession :<br>
      C:\Users\Maxime_Paletou> Développeur informatique<br>
      C:\Users\Maxime_Paletou> <br>
      C:\Users\Maxime_Paletou> Hobbies :<br>
      C:\Users\Maxime_Paletou> Skate, Voyages, Randonnées, Jeux-Vidéos<br>
      C:\Users\Maxime_Paletou><br>
      C:\Users\Maxime_Paletou> En recherche d’emploi ?<br>
      C:\Users\Maxime_Paletou> Oui<br>
    </p>
  </div>
</div>
