.active{
  background: #1C3741;
  color: white!important;
}

#navbarSupportedContent
{
  font-size: 25px;
}

ul li a
{
  position: relative;
  display: block;
  margin: 0 10px 0 0;
  padding: 0 15px;
  transition: .5s;
}

ul li
{
  position: relative;
  display: block;
}

ul li a:before{
  content: '';
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 50%;
  background: #1C3741;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

ul li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: #1C3741;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: right;

}

