@import '/src/app/styles/variables';


.mobile{
  display: none;
}

.active{
  background: $backgroundColor-dark;
  color: $colorText!important;
}

#navbarSupportedContent
{
  font-size: 25px;
}

ul li a
{
  position: relative;
  color: $colorLink;
  display: block;
  margin: 0 0 0 0;
  padding: 0 15px;
  transition: .5s;
}

ul li a:hover
{
  color: $colorLink
}

ul li
{
  position: relative;
  display: block;
}

ul li a:before{
  content: '';
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 50%;
  background: $backgroundColor-dark;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

ul li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: $backgroundColor-dark;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: right;
}

@media (max-width: 990px){

  .mobile{
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    background: var(--color-background-dark);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    padding: 0;
    background-color: #171933;
    text-align: center;
  }

  .mobile a{
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
  }

  .mobile a .icon
  {
    font-size: 25px;
  }

}
