@import '/src/app/styles/variables';

.marginCenter
{
  margin-left: auto;
  margin-right: auto;
}

.contentSeparator
{
  color: #1C3741;
  height: 3px;
}

#ConsoleProfil
{
  border-radius: 10px;
  background: black;
  color: #227726;
}

.logoStyle
{
  width: 30px;
  margin: 5px;
}

.columnLang
{
  position: relative;

}

.bottomHR
{
  position: absolute;
  bottom: 0;
  width: 88%;
}

.noListStyle
{
  list-style: none;
}

a
{
  color: $colorLink;
  text-decoration: none;
}

a:hover
{
  color: $colorLinkHover;
}

.iconStyle
{
  color: $colorLink;
}

/**********************
***********************
*****MEDIA QUERIES*****
***********************
**********************/

@media (max-width: 1290px) {
  .contenu{
    flex-direction: column;
  }
  .contenu5{
    width: auto;
  }
}
