<h3 style="margin-top: 30px;">
  <fa-icon [icon]="pointTitleIcon" class="iconStyle"></fa-icon> &nbsp; COMPÉTENCES INFORMATIQUE
</h3>
<hr class="contentSeparator">
<div class="row contenu">

<div class="col marginCenter">
  <h4><fa-icon [icon]="webIcone" class="iconStyle"></fa-icon> Développement Web & Mobile</h4>
  <hr>
  <div class="row" >
    <div class="col-4 my-auto" style="margin-left: 10px;">
      <h6 class=""><fa-icon [icon]="frontendIcon" class="iconStyle"></fa-icon> &nbsp;Front-End</h6>
    </div>
    <div class="col text-center">
      <p>
        <img src="../../../assets/images/logos/html-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="htmlLogo" placement="top" ngbTooltip="HTML 5" />
        <img src="../../../assets/images/logos/css-3.svg" class="img-fluid rotate-scale-up logoStyle" alt="cssLogo" placement="top" ngbTooltip="CSS 3"/>
        <img src="../../../assets/images/logos/javascript-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="jsLogo" placement="top" ngbTooltip="Javascript"/>
        <img src="../../../assets/images/logos/sass-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="scssLogo" placement="top" ngbTooltip="SCSS"/>
        <img src="../../../assets/images/logos/less-63.svg" class="img-fluid rotate-scale-up logoStyle" alt="lessLogo" placement="top" ngbTooltip="Less CSS"/>
        <img src="../../../assets/images/logos/typescript.svg" class="img-fluid rotate-scale-up logoStyle" alt="typeScriptLogo" placement="top" ngbTooltip="Typescript"/>

        <img src="../../../assets/images/logos/bootstrap-5-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="bootstrapLogo" placement="top" ngbTooltip="Bootstrap (Framework)"/>
        <img src="../../../assets/images/logos/fontawesome-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="fontAweLogo" placement="top" ngbTooltip="FontAwesome (Framework)"/>
        <img src="../../../assets/images/logos/jquery-1.svg" class="img-fluid rotate-scale-up" alt="jqueryLogo" style="width: 50px; margin: 5px;" placement="top" ngbTooltip="jQuery (Framework)"/>

        <img src="../../../assets/images/logos/angular-icon.svg" class="img-fluid rotate-scale-up logoStyle" alt="angularLogo" placement="top" ngbTooltip="Angular (Framework)"/>
        <img src="../../../assets/images/logos/react-2.svg" class="img-fluid rotate-scale-up logoStyle" alt="reactLogo" placement="top" ngbTooltip="React (Framework)"/>
        <img src="../../../assets/images/logos/vue-9.svg" class="img-fluid rotate-scale-up logoStyle" alt="vueLogo" placement="top" ngbTooltip="Vue (Framework)"/>

      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col-4 my-auto" style="margin-left: 10px;">
      <h6><fa-icon [icon]="backendIcon" class="iconStyle"></fa-icon> &nbsp;Back-End</h6>
    </div>
    <div class="col text-center">
      <p>
        <img src="../../../assets/images/logos/php-1.svg" class="img-fluid rotate-scale-up" alt="phpLogo" style="width: 50px; margin: 5px;" placement="top" ngbTooltip="Php"/>
        <img src="../../../assets/images/logos/nodejs.svg" class="img-fluid rotate-scale-up" alt="nodejsLogo" style="width: 50px; margin: 5px;" placement="top" ngbTooltip="NodeJS"/>

        <img src="../../../assets/images/logos/symfony.svg" class="img-fluid rotate-scale-up logoStyle" alt="symfonyLogo" placement="top" ngbTooltip="Symfony (Framework)"/>
        <img src="../../../assets/images/logos/express-109.svg" class="img-fluid rotate-scale-up" alt="expressjsLogo" style="width: 50px; margin: 5px;" placement="top" ngbTooltip="Express JS (Framework)"/>
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 15px;">
    <div class="col-4 my-auto" style="margin-left: 10px;">
      <h6><fa-icon [icon]="crmIcon" class="iconStyle"></fa-icon> &nbsp;CMS</h6>
    </div>
    <div class="col text-center">
      <p>
        <img src="../../../assets/images/logos/wordpress-icon.svg" class="img-fluid rotate-scale-up logoStyle" alt="wpLogo" placement="top" ngbTooltip="Wordpress"/>
        <img src="../../../assets/images/logos/joomla.svg" class="img-fluid rotate-scale-up logoStyle" alt="joomlaLogo" placement="top" ngbTooltip="Joomla"/>
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 15px;">
    <div class="col-4 my-auto" style="margin-left: 10px;">
      <h6> <fa-icon [icon]="mobilIcone" class="iconStyle"></fa-icon> &nbsp;Mobile</h6>
    </div>
    <div class="col text-center">
      <p>
        <img src="../../../assets/images/logos/kotlin-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="kotlinlLogo" placement="top" ngbTooltip="Kotlin"/>
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 15px;">
    <div class="col-4 my-auto" style="margin-left: 10px;">
      <h6> <fa-icon [icon]="serverIcon" class="iconStyle"></fa-icon> &nbsp;Serveur</h6>
    </div>
    <div class="col text-center">
      <p>
        <img src="../../../assets/images/logos/mysql-6.svg" class="img-fluid rotate-scale-up logoStyle" alt="mysqlLogo" placement="top" ngbTooltip="MySQL"/>
        <img src="../../../assets/images/logos/mongodb-icon-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="mongodbLogo" placement="top" ngbTooltip="MongoDB"/>
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 15px;">
    <div class="col-4 my-auto" style="margin-left: 10px;">
      <h6><fa-icon [icon]="ideIcon" class="iconStyle"></fa-icon> &nbsp;IDE</h6>
    </div>
    <div class="col text-center">
      <p>
        <img src="../../../assets/images/logos/visual-studio-code-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="vscodeLogo" placement="top" ngbTooltip="Visual Studio Code"/>
        <img src="../../../assets/images/logos/Android_Studio_Icon_(2014-2019).svg" class="img-fluid rotate-scale-up logoStyle" alt="androidstdLogo" placement="top" ngbTooltip="Android Studio"/>
      </p>
    </div>
  </div>
  <hr style="margin-top: 0;">
</div>

<div class="col marginCenter">
<h4><fa-icon [icon]="softIcon" class="iconStyle"></fa-icon> Développement Logiciel</h4>
<hr>

<div class="row" style="margin-top: 15px;">
  <div class="col-4 my-auto"  style="margin-left: 10px;">
    <h6><fa-icon [icon]="langueIcon" class="iconStyle"></fa-icon> &nbsp;Langages</h6>
  </div>
  <div class="col text-center">

      <img src="../../../assets/images/logos/c--4.svg" class="img-fluid rotate-scale-up logoStyle" alt="csharpLogo" placement="top" ngbTooltip="Csharp" />
      <img src="../../../assets/images/logos/dot-net-core-7.svg" class="img-fluid rotate-scale-up" style="width: 50px; margin: 5px;" alt="netLogo" placement="top" ngbTooltip=".NET Framework"/>

  </div>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-4 my-auto" style="margin-left: 10px;">
    <h6><fa-icon [icon]="ideIcon" class="iconStyle"></fa-icon> &nbsp;IDE</h6>
  </div>
  <div class="col text-center">
    <p>
      <img src="../../../assets/images/logos/visual-studio-2013.svg" class="img-fluid rotate-scale-up logoStyle" alt="vsLogo" placement="top" ngbTooltip="Visual Studio 2019"/>
    </p>
  </div>
</div>
<hr style="margin-top: 0;">
<h4><fa-icon [icon]="diverIcon" class="iconStyle"></fa-icon> &nbsp;Autres compétences</h4>
<hr>
<div class="row" style="margin-top: 15px;">
  <div class="col-4 my-auto" style="margin-left: 10px;">
    <h6><fa-icon [icon]="microsoftIcon" class="iconStyle"></fa-icon> &nbsp;Pack Office</h6>
  </div>
  <div class="col text-center">
    <p>
      <img src="../../../assets/images/logos/word-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="wordLogo" placement="top" ngbTooltip="Word" />
      <img src="../../../assets/images/logos/excel-4.svg" class="img-fluid rotate-scale-up logoStyle" alt="excelLogo" placement="top" ngbTooltip="Excel" />
      <img src="../../../assets/images/logos/powerpoint-2.svg" class="img-fluid rotate-scale-up logoStyle" alt="pptLogo" placement="top" ngbTooltip="PowerPoint" />
      <img src="../../../assets/images/logos/microsoft-teams-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="teamsLogo" placement="top" ngbTooltip="Teams" />
      <img src="../../../assets/images/logos/microsoft-project-2019-present-.svg" class="img-fluid rotate-scale-up logoStyle" alt="projectLogo" placement="top" ngbTooltip="Project" />
    </p>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col-4 my-auto" style="margin-left: 10px;">
    <h6>Divers</h6>
  </div>
  <div class="col text-center">
    <p>
      <img src="../../../assets/images/logos/github-icon-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="githubLogo" placement="top" ngbTooltip="GitHub" />
      <img src="../../../assets/images/logos/figma-1.svg" class="img-fluid rotate-scale-up logoStyle" alt="figmaLogo" placement="top" ngbTooltip="Figma" />
      <img src="../../../assets/images/logos/photoshop-cc-4.svg" class="img-fluid rotate-scale-up logoStyle" alt="psLogo" placement="top" ngbTooltip="Photoshop" />
      <img src="../../../assets/images/logos/indesign-cc.svg" class="img-fluid rotate-scale-up logoStyle" alt="idLogo" placement="top" ngbTooltip="InDesign" />
    </p>
  </div>

</div>
<hr style="margin-top: 0;">



</div>

</div>


<h3 style="margin-top: 30px;">
<fa-icon [icon]="pointTitleIcon" class="iconStyle"></fa-icon> &nbsp; ÉTUDES & PARCOUR PROFESSIONNEL
</h3>
<hr class="contentSeparator">
<div class="col marginCenter">
<div class="row contenu">
<div class="col">
  <div class="text-center">
    <h6>Expérience Professionnelle</h6>
  </div>

<hr>
<ul class="noListStyle">
<li style="border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
  <fa-icon [icon]="companyIcon" class="iconStyle"></fa-icon> &nbsp; <a href="https://www.aece-group.com/" class="linkStyleCursus" style="font-weight: bold;">Aquitaine Électronique - Montardon (64) </a> <br>
  <fa-icon [icon]="postIcon" class="iconStyle"></fa-icon> &nbsp; <span>Développeur Informatique</span> <br>
  <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">Octobre 2019 - Septembre 2021</span>
  <ul>
    <li>
      Analyse et conception de logiciels
    </li>
    <li>
      Déroulement de tests
    </li>
    <li>
      Gestion & suivi de projets
    </li>
  </ul>
  <fa-icon [icon]="softIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">C#, HTML5, CSS3, JS</span>
</li>
<li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;" >
  <fa-icon [icon]="otherJobsIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-weight: bold;">Missions intérimaires dans l'attente d'intégrer la formation CESI</span> <br>
  <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">Janvier 2019 - Septembre 2019</span>
</li>
<li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
  <fa-icon [icon]="companyIcon" class="iconStyle"></fa-icon> &nbsp; <a href="http://tabulation.fr/" class="linkStyleCursus" style="font-weight: bold;">Tabulation - Pau Hélioparc (64) </a> <br>
  <fa-icon [icon]="postIcon" class="iconStyle"></fa-icon> &nbsp; <span>Développeur 4D</span> <br>
  <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">Août 2018 - Octobre 2018</span>
  <ul>
    <li>
      Gestion d'un projet complet
    </li>
    <li>
      Développement dans un système SGBDR
    </li>
  </ul>
  <fa-icon [icon]="softIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">4D</span>
</li>
<li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
  <fa-icon [icon]="otherJobsIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-weight: bold;">Divers jobs dans le cadre d'un PVT en Australie</span> &nbsp; <img src="../../../assets/images/logos/australia-svgrepo-com.svg" class="img-fluid rotate-scale-up" alt="ozFlag" width="30" />  <br>
  <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">Mars 2016 - Mars 2017</span>
  <ul>
    <li>
      Ouvrier Agricole (DTE Farms)
    </li>
    <li>
      Serveur en restaurant (Char Hôtel/Restaurant)
    </li>
    <li>
      Barman (PalmBar)
    </li>
  </ul>
</li>
<li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
  <fa-icon [icon]="companyIcon" class="iconStyle"></fa-icon> &nbsp; <a href="https://gfi.world/fr-fr/" class="linkStyleCursus" style="font-weight: bold;">Gfi Informatique - Orthez (64) </a> <br>
  <fa-icon [icon]="postIcon" class="iconStyle"></fa-icon> &nbsp; <span>Commercial TS</span> <br>
  <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">2013 - 2015</span>
  <ul>
    <li>
      Prospection / Suivi Téléphonique
    </li>
    <li>
      Gestion de campagnes commerciales
    </li>
    <li>
      Recrutements
    </li>
  </ul>
</li>
<li style="margin-top: 15px;  padding-bottom: 15px;">
  <fa-icon [icon]="otherJobsIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-weight: bold;">Stages dans le cadre de ma formation commerciale</span>  <br>
  <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">2010 - 2013</span>
  <ul>
    <li>
      Hyper Plein Ciel
    </li>
    <li>
      Gémo
    </li>
    <li>
      Jump Skateshop
    </li>
  </ul>
</li>
</ul>
<hr>
</div>
<div class="col-5 contenu5">
  <div class="text-center">
    <h6>Cursus scolaire</h6>
  </div>

  <hr>
  <ul class="noListStyle">
    <li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
      <fa-icon [icon]="diplomaIcon" class="iconStyle"></fa-icon> &nbsp;<span style="font-weight: bold;">Responsable Ingénierie Logiciels</span> <br>
      <fa-icon [icon]="levelIcon" class="iconStyle"></fa-icon> &nbsp; Certification Bac +4  <br>
      <fa-icon [icon]="schoolIcon" class="iconStyle"></fa-icon> &nbsp; <a href="https://www.cesi.fr/" class="linkStyleCursus" style="font-weight: bold;">CESI Pau (64) </a> <br>
      <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">Septembre 2019 - Septembre 2021</span>
    </li>
    <li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
      <fa-icon [icon]="diplomaIcon" class="iconStyle"></fa-icon> &nbsp;<span style="font-weight: bold;">Développeur Web/Logiciels</span> <br>
      <fa-icon [icon]="levelIcon" class="iconStyle"></fa-icon> &nbsp; Certification Bac +2  <br>
      <fa-icon [icon]="schoolIcon" class="iconStyle"></fa-icon> &nbsp; <a href="https://greta-cfa-aquitaine.fr/" class="linkStyleCursus" style="font-weight: bold;">Greta Pau (64) </a> <br>
      <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">Mars 2018 - Décembre 2018</span>
    </li>
    <li style="margin-top: 15px; border-bottom: 1px dashed #203E49; padding-bottom: 15px;">
      <fa-icon [icon]="diplomaIcon" class="iconStyle"></fa-icon> &nbsp;<span style="font-weight: bold;">BTS Négociation et Relation client</span> <br>
      <fa-icon [icon]="levelIcon" class="iconStyle"></fa-icon> &nbsp; Niveau Bac +2  <br>
      <fa-icon [icon]="schoolIcon" class="iconStyle"></fa-icon> &nbsp; <a href="https://www.asfo.fr/" class="linkStyleCursus" style="font-weight: bold;">ASFO Pau (64) </a> <br>
      <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">2013 - 2015</span>
    </li>
    <li style="margin-top: 15px; padding-bottom: 15px;">
      <fa-icon [icon]="diplomaIcon" class="iconStyle"></fa-icon> &nbsp;<span style="font-weight: bold;">Bac Pro Commerce</span> <br>
      <fa-icon [icon]="levelIcon" class="iconStyle"></fa-icon> &nbsp; Bac Professionnel  <br>
      <fa-icon [icon]="schoolIcon" class="iconStyle"></fa-icon> &nbsp; <a href="https://beau-rameau.org/formations/lycee-professionnel/" class="linkStyleCursus" style="font-weight: bold;">Lycée St-Elisabeth (64) </a> <br>
      <fa-icon [icon]="dateIcon" class="iconStyle"></fa-icon> &nbsp; <span style="font-style: italic;">2010 - 2013</span>
    </li>
  </ul>
  <hr>
  <div class="text-center" style="margin-top: 20px;">
    <h6>Langues</h6>
  </div>
  <hr>
  <div class="row">
    <div class="col text-center">
      <img src="../../../assets/images/logos/english-language.svg" class="img-fluid rotate-scale-up" width="50" alt="enLogo" placement="top" ngbTooltip="Anglais" />
      <p>Lu, écrit et parlé</p>
    </div>
    <div class="col text-center">
      <img src="../../../assets/images/logos/spanish-language.svg" class="img-fluid rotate-scale-up" width="50" alt="esLogo" placement="top" ngbTooltip="Espagnol" />
      <p>Intermédiaire</p>
    </div>
  </div>
<hr>


</div>
</div>
