.marginCenter
{
  margin-left: auto;
  margin-right: auto;
}

.contentSeparator
{
  color: #1C3741;
  height: 3px;
}

#ConsoleProfil
{
  border-radius: 10px;
  background: black;
  color: #227726;
}

.logoStyle
{
  width: 30px;
  margin: 5px;
}

.columnLang
{
  position: relative;

}

.bottomHR
{
  position: absolute;
  bottom: 0;
  width: 88%;
}

.noListStyle
{
  list-style: none;
}

a
{
  color: #203E49;
  text-decoration: none;
}

a:hover
{
  color: #2B5361;
}

.iconStyle
{
  color: #2B5361;
}
