@import '/src/app/styles/variables';

.iconStyle
{
  color: $colorLink;
}

.returnStyle{
  text-decoration: none;
  color: $colorLink ;
  font-size: 25px;
  font-weight: bold;
}

.returnStyle:hover{
  color: $colorLinkHover;
}

.textBold{
  font-weight: bold;
}

/**********************
***********************
*****MEDIA QUERIES*****
***********************
**********************/

@media (max-width: 1670px){
  .contenu{
    width: 800px;
  }
}


@media (max-width: 610px){
  .contenu{
    width: 406px
  }
};
