@import '/src/app/styles/variables';

.iconStyle
{
  color: $colorLink;
}

.returnStyle{
  text-decoration: none;
  color: $colorLink ;
  font-size: 25px;
  font-weight: bold;
}

.returnStyle:hover{
  color: $colorLinkHover;
}

.textBold{
  font-weight: bold;
}

/**********************
***********************
*****MEDIA QUERIES*****
***********************
**********************/

@media (max-width: 1390px) {
  .contenu{
    flex-direction: column;
  }
  .contenu5{
    width: auto;
  }
}

@media (max-width: 1670px){

}


@media (max-width: 610px){

};
