.iconStyle
{
  color: #2B5361;
}

.returnStyle{
  text-decoration: none;
  color: #203E49 ;
  font-size: 25px;
  font-weight: bold;
}

.returnStyle:hover{
  color: #2B5361;
}

.textBold{
  font-weight: bold;
}
