<a routerLink="/portfolio" class="returnStyle"><fa-icon [icon]="returnIcon"></fa-icon>  Retour</a>
<div class="row contenu">
<div class="title text-center">
  <h1><fa-icon [icon]="siteIcon" class="iconStyle"></fa-icon> {{portfolio.name}} </h1>
  <h6><fa-icon [icon]="technoIcon" class="iconStyle"></fa-icon> Technologies utilisées : {{portfolio.technos}} </h6>
  <hr>
  <ngb-carousel >
    <ng-template ngbSlide *ngFor="let image of portfolioImages">
      <div class="picsum-img-wrapper">
        <img src="{{ image.url }}" alt="Slide image" class="img-fluid" style=" max-height: 400px; image-rendering: -webkit-optimize-contrast;">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="row" style="margin-top: 15px;" [innerHTML]="portfolio.description" >

  </div>
</div>
</div>

